@import "../node_modules/bootstrap/scss/bootstrap";

$jsp-container-ar-tallest: 0.5625; // 9 by 16
$jsp-container-ar-middle: 1;
$jsp-container-ar-widest: 1.77777777777777777778; // 16 by 9
$jsp-main-ar: 1;
$jsp-ctrl-ar: 0.4 auto;
// $first-breakpoint: md;
$jsp-ctrl-border-radius: 1rem;

//$darker-danger: rgb(220, 53, 69);
$darker-danger: rgb(55, 13, 17);

//$darker-info: rgb(13, 202, 240);
$darker-info: rgb(3, 51, 60);

// dark is #212529
$darker-dark: #111315;

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #080808;
}

// ultra-tall portrait
// portrait units based on viewport width
@media (max-aspect-ratio: $jsp-container-ar-tallest) {
    .jsp-container {
        // limit container to 9/16 tallness
        aspect-ratio: $jsp-container-ar-tallest;
        width: 100%; // fill
        height: auto; // rely on aspect ratio
        flex-direction: row;
    }
    .jsp-main {
        // min-height: 100vw;
        // max-height: 150vw;
        height: auto;
        width: 100%; // viewport could be larger than window
    }
    .jsp-s, .jsp-e {
        // aspect-ratio: $jsp-ctrl-ar;
        height: 77.777vw;
        // width: 50vw;
        width: 50%;
    }
}

// portrait to square
// portrait units based on viewport width
@media (min-aspect-ratio: $jsp-container-ar-tallest) and (max-aspect-ratio: $jsp-container-ar-middle) {
    .jsp-container {
        // aspect-ratio: 9/16;
        width: 100%; // fill
        height: 100%; // fill
        flex-direction: row;
    }
    .jsp-main {
        // allow height to be smaller for near square viewport
        height: auto;
        width: 100%;
    }
    .jsp-s, .jsp-e {
        // aspect-ratio: $jsp-ctrl-ar;
        // min-height: 20vw;
        height: 77.777vw;
        // max-height: 77.777vw;
        // width: 50vw;
        width: 50%;
    }
}

// middle or taller
@media (max-aspect-ratio: $jsp-container-ar-middle) {
    // based on Bootstrap order-bp-n classes
    .order-jsp-tall-0 {
        order: 0 !important;
    }
    .order-jsp-tall-1 {
        order: 1 !important;
    }
    .order-jsp-tall-2 {
        order: 2 !important;
    }
    .order-jsp-tall-3 {
        order: 3 !important;
    }
    .order-jsp-tall-4 {
        order: 4 !important;
    }
    .order-jsp-tall-5 {
        order: 5 !important;
    }

    .jsp-ctrl-text {
        font-size: 8vw;
        margin-top: 2vw;
    }

    ////// keep this to easily switch align center/start //////
    // keep content at the top (not always viewport) when in portrait
    .jsp-window, .jsp-container {
        // if one or both of these are 'center', jsp-container will be centered vertically.
        // if both of these are 'start', jsp-container will be at the top.
        align-content: center;
        justify-content: center;
    }
}
// middle or wider
@media (min-aspect-ratio: $jsp-container-ar-middle) {
    // based on Bootstrap order-bp-n classes
    .order-jsp-wide-0 {
        order: 0 !important;
    }
    .order-jsp-wide-1 {
        order: 1 !important;
    }
    .order-jsp-wide-2 {
        order: 2 !important;
    }
    .order-jsp-wide-3 {
        order: 3 !important;
    }
    .order-jsp-wide-4 {
        order: 4 !important;
    }
    .order-jsp-wide-5 {
        order: 5 !important;
    }

    .jsp-ctrl-text {
        font-size: 4vh;
        margin-top: 1vh;
    }

    // center within the window (not always viewport) when in landscape
    .jsp-window, .jsp-container {
        align-content: center;
        justify-content: center;
    }

    .jsp-main {
        min-height: 100%;
        height: 100%; // viewport could be larger than window
        max-height: 100%;
        min-width: auto;
        width: auto; // depend on aspect ratio
        max-width: auto;
    }
    .jsp-s, .jsp-e {
        min-height: 100%;
        height: 100%;
        max-height: 100%;
        min-width: auto;
        width: 30vh;
        max-width: auto;
    }
}

// square to landscape
// landscape units based on viewport height
@media (min-aspect-ratio: $jsp-container-ar-middle) and (max-aspect-ratio: $jsp-container-ar-widest) {
    .jsp-container {
        // aspect-ratio: 16/9;
        height: 100%; // fill
        width: 100%; // fill
        flex-direction: column;
    }
}

// ultra-wide landscape
// landscape units based on viewport height
@media (min-aspect-ratio: $jsp-container-ar-widest) {
    .jsp-container {
        // limit container to 16/9 wideness
        aspect-ratio: $jsp-container-ar-widest;
        height: 100%; // fill
        width: auto; // rely on aspect ratio
        flex-direction: column;
    }
}

// always


.jsp-window {
    width: 100%;
    height: 100%;
}

.jsp-main {
    aspect-ratio: $jsp-main-ar;
    border: 2px white;
}

// .jsp-s, .jsp-e {
//     aspect-ratio: $jsp-ctrl-ar;
// }

.jsp-s {
    background-color: $darker-danger;
    border-top-left-radius: $jsp-ctrl-border-radius;
    border-bottom-left-radius: $jsp-ctrl-border-radius;
}

.jsp-e {
    background-color: $darker-info;
    border-top-right-radius: $jsp-ctrl-border-radius;
    border-bottom-right-radius: $jsp-ctrl-border-radius;
    align-self: flex-end;
}

.jsp-bg-darker-dark {
    background-color: $darker-dark;
}

.jsp-square {
    aspect-ratio: 1;
}

.jsp-center {
    // vertical-align: middle;
    // padding: 2.0rem;
    padding: 0;
}

.jsp-ctrl-btn {
    height: 80%;
    width: 80%;
    text-shadow: 0px 2px 8px darkgray;
}

// .jsp-ctrl-text {
//     text-shadow: 0px 2px 8px black;
// }